{% extends 'base.html.twig' %}

{% block pagetitle %}INDEX ANNONCE{% endblock %}

{% block body %}
    {% for annonce in annonces %}
        <p><strong>title :</strong> {{ annonce.title }}</p>
        <p><strong>description :</strong> {{ annonce.description }}</p>
        <p><strong>prix :</strong> {{ annonce.price|price }}</p>
        <p><a href="{{ path('app_annonce_show', { id: annonce.id }) }}">Accéder à l'annonce</a></p>
    {% endfor %}
{% endblock %}